<head>
     <style>
     .comic {font-family: 'Comic Sans MS', cursive, sans-serif;}
     </style>
</head>
<div class="panel panel-default">
        <div class="panel-body comic">
            <h4><u>Developers' Note</u></h4>
            This website was created by Hanna Pak and Alex Kish in Colleen
            Brockmyre's Comp Sci 308 class. We were inspired by an Instragram page
            created by Anna Clarke '18 and a few other girls from the distance
            track team.
    </div>
</div>