<!DOCTYPE HTML>
<html lang="en">
    <head>
        <style>
            .comic {font-family: 'Comic Sans MS', cursive, sans-serif;}
        </style>
        <title>Dhall Creations</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">
    </head>
    <body style= "background-color:  #892727;">
        <div class="page-header">
            <div class="container">
                <div class="col-md-6">
                    <h1><a href="/" class="comic" style="color: white">Dhall Creations</a></h1>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    {{{body}}}
                </div>
                <div class="col-sm-4">
                    
                    <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-family: 'Comic Sans MS', cursive, sans-serif;">
                        <a href="/views/upload.handlebars" class="comic">Upload a Recipe</a>    
                        </h3>
                    </div>
                    </div>
                {{> tags this }}

                    
                </div>
            </div>
        </div>
        <div style="border-top: solid 1px #eee; padding-top: 1em;">
            <div class="container">
                <div class="row">
  

                  <div class="col-sm-12 text-center">
                    <p class="text-muted class"> Dhall Creations | &copy; Copyright 2014, All Rights Reserved</p>
                  </div>
                </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        
        <script type="text/javascript" src="/public/js/scripts.js"></script>
    </body>
</html>
